<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IAAPIKeyId</key>
	<string>c10b985b-1990-4c28-8e1a-bdf08ff53dd1</string>
	<key>IAAPIKeySecret</key>
	<string>tPB9p9TC4rZTXU8Hy/Hq8qp2Qn0H95G8OkbL1ojJfcHXnKL5/Ga+HtLCm7UI8zuKxjNzrtVGlI9K7IbQx5XPPBAVEmsgdcVeikueuQq3w0i0gv2iMfz1f9Hr/U1V3Q==</string>
</dict>
</plist>